@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    width: 98%;
    margin: auto;
}

.text-stroke-white {
    --tw-text-opacity: 1;
    color: rgb(2 6 23 / var(--tw-text-opacity));
    text-shadow: -.5px -.5px 0 #fff, .5px -.5px 0 #fff, -.5px .5px 0 #fff, .5px .5px 0 #fff;
}